<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://raw.githubusercontent.com/rayc2045/pokedex/main/images/pokemon-go-icon-192x192.png">
  <title>Pokedex</title>
  <meta name="title" content="Pokedex">
  <meta name="description" content="Pokedex made with PokeAPI">
  <meta name="keywords" content="pokemon pokedex vue">
  <meta name="author" content="Ray Chang">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://po-poke-pokedex.netlify.app/">
  <meta property="og:title" content="Pokedex">
  <meta property="og:description" content="Pokedex made with PokeAPI">
  <meta property="og:image" content="https://cdn.dribbble.com/users/3800131/screenshots/20303659/media/a695a56b7758e2b27ccf3e5d1574daab.png">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://po-poke-pokedex.netlify.app/">
  <meta property="twitter:title" content="Pokedex">
  <meta property="twitter:description" content="Pokedex made with PokeAPI">
  <meta property="twitter:image" content="https://cdn.dribbble.com/users/3800131/screenshots/20303659/media/a695a56b7758e2b27ccf3e5d1574daab.png">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap" rel="stylesheet">
  <!-- Styles & Scripts -->
  <link rel="stylesheet" href="./styles/style.css">
  <script src="./scripts/script.min.js" type="module"></script>
</head>
<body v-cloak v-effect="init()">
  <ul class="filter">
    <li
      :class="['card', { active: !currentType }]"
      @click="currentType = ''"
    >
      All ({{ pokemons.length }})
    </li>
    <li
      v-for="type of types"
      :class="['card', { active: currentType === type }]"
      @click="currentType = type"
    >
      {{ util.firstLetterUppercase(type) }} ({{ pokemons.filter(pokemon => pokemon.types.includes(type)).length }})
    </li>
  </ul>
  
  <ul>
    <li
      v-for="pokemon in filterPokemons"
      class="card"
    >
      <small class="tooltip">
        {{ util.firstLetterUppercase(pokemon.name) }}
      </small>
      <img :src="pokemon.image" :alt="pokemon.name" loading="lazy">
      <em class="name">{{ '#' + pokemon.id }}</em>
      <br>
    </li>
  </ul>
  
  <div
   class="progress-bar"
   :style="{
     width: progress,
     backgroundColor: progress === '100%' ? 'transparent' : 'gold'
   }"
  ></div>
</body>
</html>