<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://raw.githubusercontent.com/rayc2045/pokedex/main/images/pokeball.png">
  <title>Pokédex</title>
  <meta name="title" content="Pokédex">
  <meta name="description" content="Pokedex made with PokeAPI">
  <meta name="keywords" content="pokemon pokedex vue">
  <meta name="author" content="Ray Chang">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://po-poke-pokedex.netlify.app/">
  <meta property="og:title" content="Pokédex">
  <meta property="og:description" content="Pokedex made with PokeAPI">
  <meta property="og:image" content="https://cdn.dribbble.com/users/3800131/screenshots/20303659/media/a695a56b7758e2b27ccf3e5d1574daab.png">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://po-poke-pokedex.netlify.app/">
  <meta property="twitter:title" content="Pokédex">
  <meta property="twitter:description" content="Pokedex made with PokeAPI">
  <meta property="twitter:image" content="https://cdn.dribbble.com/users/3800131/screenshots/20303659/media/a695a56b7758e2b27ccf3e5d1574daab.png">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
  <!-- Styles & Scripts -->
  <link rel="stylesheet" href="./styles/style.css">
  <script src="./scripts/script.min.js" type="module"></script>
</head>
<body v-cloak v-effect="init()">
  <ul class="filter">
    <li
      v-if="pokemons.length"
      :class="['card', { active: currentTypeIdx < 0 }]"
      @click="currentTypeIdx = -1"
    >
      All ({{ pokemons.length }})
    </li>
    <li
      v-for="(type, typeIdx) of types.map(type => type[currentLang])"
      :class="['card', { active: typeIdx === currentTypeIdx }]"
      @click="currentTypeIdx = typeIdx"
    >
      {{ util.firstLetterUppercase(type) }} ({{ pokemons.filter(pokemon => pokemon.types[currentLang].includes(type)).length }})
    </li>
  </ul>
  
  <ul>
    <li
      v-for="pokemon of pokemons"
      v-show="currentTypeIdx < 0 || pokemon.types[currentLang].includes(types[currentTypeIdx][currentLang])"
      class="card tooltip-container"
    >
      <div class="tooltip-bottom">{{ pokemon.name[currentLang] }}</div>
      <img
        :src="`/images/official-artwork/front_default/${pokemon.id}.png`"
        :alt="pokemon.name[currentLang]"
        :loading="pokemon.id < 50 ? '' : 'lazy'"
      >
      <em class="pokemon-id">{{ '#' + pokemon.id }}</em>
    </li>
  </ul>

  <button
    class="lang-toggle"
    @click="currentLang = util.getNextItem(['en', 'zh'], currentLang)"
  >
    {{ currentLang === 'en' ? '中文' : 'English' }}
  </button>

  <div
   class="progress-bar"
   :style="{
     width: progress,
     backgroundColor: progress === '100%' ? 'transparent' : 'gold'
   }"
  ></div>
</body>
</html>